
#buttun1 {
  background-color: black;
  border: none;
  padding: 4px 84px;
}

#buttun1:hover {
	background-color: #fe8900;
}


#buttun2 {
  background-color: black;
  border: none;
  padding: 1px 34px;
}

#buttun2:hover {
	background-color: #00afe9;
}


#buttun3 {
  background-color: black;
  border: none;
  padding: 121px 34px;

}

#buttun3:hover {
  background-color: #f2142b;
}


#buttun4 {
  background-color: black;
  border: none;
  padding: 1px 52px;
}

#buttun4:hover {
  background-color: white;
}


#buttun5 {
  background-color: black;
  border: none;
  padding: 79px 41px;
	
}

#buttun5:hover {
	background-color: #f10088;
}


#buttun6 {
  background-color: black;
  border: none;
  padding: 1px 41px;

}

#buttun6:hover {
	background-color: #0c8077;
}


#buttun7 {
  background-color: black;
  border: none;
  padding: 39px 31px;
}

#buttun7:hover {
	background-color: yellow;
}

#buttun8 {
  background-color: black;
  border: none;
  padding: 1px 30px;

}

#buttun8:hover {
	background-color: #f23914;
}

#buttun9 {
  background-color: black;
  border: none;
  padding: 1px 60px;

}

#buttun9:hover {
	background-color: #14e8cd;
}

#buttun10 {
  background-color: black;
  border: none;
  padding: 1px 41px;

}

#buttun10:hover {
	background-color: #3085c0;
}

#buttun11 {
  background-color: black;
  border: none;
  padding: 2px 43px;

}

#buttun11:hover {
	background-color:#b8131b;
}

#buttun12 {
  background-color: black;
  border: none;
  padding: 35px 45px;

}

#buttun12:hover {
	background-color:#fbcee0;
}

#buttun13 {
  background-color: black;
  border: none;
  padding: 1px 34px;

}

#buttun13:hover {
	background-color:#adc657;
}

#buttun14 {
  background-color: black;
  border: none;
  padding: 18px 42px;

}

#buttun14:hover {
	background-color: #66ae6d;
}

#buttun15 {
  background-color: black;
  border: none;
  padding: 1px 31px;

}

#buttun15:hover {
	background-color: #f9f999;
}

#buttun16 {
  background-color: black;
  border: none;
  padding: 1px 31px;

}

#buttun16:hover {
	background-color:#5b42f6;
}

#buttun17 {
  background-color: black;
  border: none;
  padding: 1px 34px;

}

#buttun17:hover {
	background-color: #f82003;
}

#buttun18 {
  background-color: black;
  border: none;
  padding: 1px 54px;

}

#buttun18:hover {
	background-color: #fb3f26;
}

#buttun19 {
  background-color: black;
  border: none;
  padding: 1px 51px;

}

#buttun19:hover {
	background-color: #00cc30;
}

#buttun20 {
  background-color: black;
  border: none;
  padding: 4px 50px;

}

#buttun20:hover {
	background-color:#c89b74;
}

#buttun21 {
  background-color: black;
  border: none;
  padding: 1px 51px;

}

#buttun21:hover {
	background-color: #e5d39a;
}

#buttun22 {
  background-color: black;
  border: none;
  padding: 1px 33px;

}

#buttun22:hover {
	background-color: #646362;
}

#buttun23 {
  background-color: black;
  border: none;
  padding: 1px 31px;

}

#buttun23:hover {
	background-color: #37f8a9;
}

#buttun24 {
  background-color: black;
  border: none;
  padding: 14px 35px;

}

#buttun24:hover {
	background-color: #37016a;
}

#buttun25 {
  background-color: black;
  border: none;
  padding: 3px 22px;

}

#buttun25:hover {
	background-color: #dc3400;
}

#buttun26 {
  background-color: black;
  border: none;
  padding: 10px 41px;

}

#buttun26:hover {
	background-color: white;
}

#buttun27 {
  background-color: black;
  border: none;
  padding: 2px 35px;

}

#buttun27:hover {
	background-color: #8407d1;
}

#buttun28 {
  background-color: black;
  border: none;
  padding: 5px 91px;

}

#buttun28:hover {
	background-color:#f9ef54;
}

#buttun29 {
  background-color: black;
  border: none;
  padding: 1px 52px;

}

#buttun29:hover {
	background-color: #dd6eee;
}

#buttun30 {
  background-color: black;
  border: none;
  padding: 1px 32px;

}

#buttun30:hover {
	background-color: #04fae0;
}




